page-login {
        .background{
            background-image: linear-gradient(white, rgba(255, 255, 255, 0)), url('../../assets/imgs/1.jpg');
            background-size: cover;
            background-repeat: no-repeat; 
            } 
        .heading{
            text-align: center;
            position: relative;
            top:10%;
            font-family: system;
            font-style: normal;
        }

        h1{
            letter-spacing: 1px;
            color: #358DF7;
        }

        .logincontainer{
            position: relative;
            left: 0 ;
            display: block;
            width: 100%;
            background-color: #358DF7;
            color: white; 
            font-family: system;
            font-style: normal;
            overflow: hidden;
            overflow: visible;
    
        }
        .login{
            padding: 1em;
            width: 98%;
        }
        .ion-item{
        border-color: rgba(0, 0, 0, 0);
        background-color: rgba(0, 0, 0, 0);
        color: white;  
        position: relative;
        height: 71px;
        font-size: 11px;
        letter-spacing: 1px;
        font-family: system;
        font-style: normal;
        
        }
        .button{
            padding: 1em;
            width: 95%;
            margin: 0%;
            margin-left: 10px;
            position: relative;
            bottom: -15px;
            letter-spacing: 1px;
            position: relative;
            bottom: 5px;
            font-family: system;
            font-style: normal;
        }
          .signup{
              align-items: center;
              text-align: center;
              padding: 20px;
              letter-spacing: 1px;
              position: relative;
              bottom: 25px;
              font-family: system;
              font-style: normal;
             }
             .item-input-has-focus .label-md[floating], .input-has-focus .label-md[floating]
             {
                color: white;
            }
            .item-input .label-md{
                color: white;
            }
            
         ion-footer{
           
           
            position: absolute;
            
           
         }
     
    }
    


