page-home {
    ion-content{
        background-image: linear-gradient(white, rgba(255, 255, 255, 0.315)), url('../../assets/imgs/1.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        
    }
    .button{
        position: relative;
        bottom: -5px;
        height: 50px;
        font-family: system;
        font-style: normal;
    }
    
    h1{
        letter-spacing: 1px;
        color: #358DF7;
        font-family: system;
        font-style: normal;

    }
    .heading{
        text-align: center;
        position: relative;
        top:15%;


    }
  
    .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before{
        opacity: 0;    
    }
}
